<button class="slicer" 
        hx-post="{self.request.url_for('run_slicer')}" 
        hx-vals='{{"working_folder": "{html.escape(working_folder)}",
                                   "script_name": "{script_name}",
                                   "slicer_script_args":  {script_args_json} 
                        }}' 
        hx-ext="json-enc, response-targets" 
        hx-target="this" 
        hx-swap="none"
        hx-target-error="#serious-errors" 
        hx-indicator="this">Открыть в Slicer</button>